/* [ MINI-PLAYER & SUGGESTIONS ] */
#player { transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

/* Mini Player Modu */
.mini-mode {
    width: 160px !important;
    height: 90px !important;
    top: auto !important;
    left: auto !important;
    bottom: 80px !important;
    right: 15px !important;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8), 0 0 15px var(--red);
    overflow: hidden;
    z-index: 999999 !important;
}

.mini-mode .player-controls { display: none; } /* Küçükken kontrolleri gizle */

#suggestion-list {
    padding: 15px;
    background: #000;
    display: none; /* Sadece video açıkken görünecek */
}

.suggest-card {
    display: flex; gap: 10px; margin-bottom: 15px; cursor: pointer;
}
.suggest-card img { width: 120px; aspect-ratio: 16/9; border-radius: 8px; object-fit: cover; }
.suggest-card p { font-size: 0.8rem; font-weight: bold; line-height: 1.2; }
